<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="NETSUITE_PRINT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <applicationSettings>
        <NETSUITE_PRINT.Properties.Settings>
            <setting name="NETSUITE_PRINT_netsuite_webservices_NetSuiteService" serializeAs="String">
                <value>https://webservices.netsuite.com/services/NetSuitePort_2018_2</value>
            </setting>
        </NETSUITE_PRINT.Properties.Settings>
    </applicationSettings>
</configuration>
